<template>
  <q-page-container>
    <div class="container">
      <q-item-section>
        <q-item class="text-h5">Me connecter</q-item>
      </q-item-section>
      <q-form
        @submit="this.checkform"
      >
        <q-input
          type="text"
          label="Email"
          v-model="email"
        />
        <q-input
          type="text"
          label="Mot de passe"
          v-model="password"
        />
        <q-input
          type="submit"
          value="Valider"
        />
      </q-form>
      <q-item-section>
        <q-item
          v-for="error in this.errors"
          :key="error.id"
        >
        {{ error }}
        </q-item>
      </q-item-section>
    </div>
  </q-page-container>
</template>
<script>
import axios from 'axios'
import store from '../../store/store'

export default {
  name: 'Login',
  data () {
    return store
  },
  methods: {
    async checkform () {
      const newUser = {
        email: this.email,
        password: this.password
      }
      if (this.email !== '' && this.password !== '') {
        this.errors = []
        const baseUrl = `${this.url}/login`
        await axios(baseUrl, {
          method: 'post',
          data: newUser,
          withCredentials: true
        })
          .then(res => {
            this.fullObjAuthUser = res.data
            setTimeout(() => { this.$router.push('/user/' + this.id) }, 200)
          })
          .catch(err => this.errors.push(err))
      } else {
        this.errors = []
        if (this.email === '') {
          this.errors.push('Email requis.')
        } if (this.password === '') {
          this.errors.push('Mot de passe requis.')
        }
      }
    }
  },
  watch: {
    fullObjAuthUser: function () {
      const { auth, token, user } = this.fullObjAuthUser
      this.isAuth = auth
      this.token = token
      this.id = user
    }
  }
}
</script>
<style lang="sass" scoped>
.container
  border: 3px solid $blue-7;
  padding: 5px 5px 63px;
</style>
