on<template>
    <q-page>
      <q-page-container>
        <q-item>
          <q-item-section>
            <q-item-label class="text-h4">Mon profil</q-item-label>
          </q-item-section>
        </q-item>
        <q-form>
          <q-input class="q-ma-sm" placeholder="Prénom" v-model="name"/>
          <q-input class="q-ma-sm" placeholder="Email" v-model="email"/>
          <q-input class="q-ma-sm" placeholder="Chemin d'accès de mon avatar" v-model="path"/>
          <q-btn class="q-ma-sm" label="valider" color="primary" @click="this.checkform"></q-btn>
        </q-form>
        <q-item
          v-for="error in this.errors"
          :key="error.id"
        >
        {{ error }}
        </q-item>
      </q-page-container>
    </q-page>
</template>
<script>
import { QPage, QPageContainer, QItem, QItemSection, QItemLabel } from 'quasar'
import store from '../../store/store'
import axios from 'axios'

export default {
  name: 'Profile',
  data () {
    return store
  },
  components: {
    QPage,
    QPageContainer,
    QItem,
    QItemSection,
    QItemLabel
  },
  methods: {
    async checkform () {
      const updateUser = {
        name: this.name,
        email: this.email,
        path: this.path
      }
      if (this.name !== '') {
        this.errors = []
        const baseUrl = `${this.url}/user/${this.id}/upload`
        await axios(baseUrl, {
          method: 'post',
          data: updateUser,
          withCredentials: true
        })
          .then(res => {
            this.$router.push(`/user/${this.id}/dashboard`)
          })
          .catch(err => this.errors.push(err))
      } else {
        this.errors = []
        if (this.name === '') {
          this.errors.push('Prénom requis.')
        }
      }
    }
  }
}
</script>
