<template>
  <q-page-container>
    <div class="container">
    <q-item-section>
      <q-item class="text-h5">M'enregistrer</q-item>
    </q-item-section>
    <q-form
      @submit="this.checkform"
       v-on:submit.prevent
    >
      <q-input
        type="text"
        label="Email"
        v-model="email"
      />
      <q-input
        type="text"
        label="Mot de passe"
        v-model="password"
      />
      <q-input
        type="text"
        label="Confirmer le mot de passe"
        v-model="password2"
      />
      <q-input
        type="submit"
        value="Valider"
      />
    </q-form>
    </div>
    <q-item-section>
      <q-item v-for="error in this.errors" :key="error.id">{{ error }}</q-item>
    </q-item-section>
  </q-page-container>
</template>
<script>
import axios from 'axios'
const BASE_URL = 'http://localhost:3001'

export default {
  name: 'Register',
  data () {
    return {
      name: '',
      email: '',
      password: '',
      password2: '',
      errors: []
    }
  },
  methods: {
    async checkform () {
      // const config = {
      //   headers: {
      //     'Content-Type': 'application/json'
      //   }
      // }
      const newUser = {
        email: this.email,
        password: this.password
      }
      if (this.email !== '' && this.password !== '' && this.password === this.password2) {
        this.errors = []
        const baseUrl = `${BASE_URL}/register`
        await axios.post(baseUrl, newUser)
          .then(res => this.errors.push('Bien enregistré(e).'))
          .catch(err => this.errors.push(err))
      } else {
        this.errors = []
        if (this.email === '') {
          this.errors.push('Email requis.')
        } if (this.password === '') {
          this.errors.push('Mot de passe requis.')
        } if (this.password !== this.password2) {
          this.errors.push('Les mots de passe doivent être identiques.')
        }
      }
    }
  }
}
</script>
<style lang="sass" scoped>
.container
  border: 3px solid $blue-7;
  padding: 5px 5px 5px;
</style>
