<template>
    <div class="graphic">
        <div>Statistiques Graphique d3.js</div>
        <h5 style="fontSize: 15px; textalign: center;">Choisir une période</h5>
        <q-form >
          <q-input type="date" label="date de début" v-model="start" />
          <q-input type="date" label="date de fin" v-model="end" />
          <q-input type="submit" @click="fetchPeriodData" />
        </q-form>
         <div v-if="this.errors.length > 0" style="color: red;">
      <q-item-label>{{ this.errors }}</q-item-label>
    </div>
    <div v-for="movment in this.movments" :key="movment.id">
      <div>{{ movment[0].acc_id }}</div>
      <div>{{ movment[0].credit }}</div>
      <div>{{ movment[0].debit }}</div>
      <div>{{ movment[0].mvmt_date }}</div>
      <div>{{ movment[0].mvmt_label }}</div>
    </div>
    </div>
</template>

<script>
import store from '../../store/store'
import axios from 'axios'

export default {
  name: 'AccountStatPeriod',
  components: {
    //
  },
  data () {
    return store
  },
  methods: {
    fetchPeriodData () {
      console.log(this.start, this.end)
      const newPeriod = {
        start: this.start,
        end: this.end
      }
      // transform date in number
      console.log(newPeriod)
      const dStart = new Date(Date.getDay(this.start), Date.getDate(this.start), Date.getFullYear(this.start))
      const dEnd = new Date(Date.getDay(this.end), Date.getDate(this.end), Date.getFullYear(this.end))
      console.log(dStart, dEnd)
      // TODO
      // pour chaque compte, récupérer les mouvements et les transformer
      // 1. transformer les dates et ne prendre que les mouvements qui correspondent aux périodes
      // 2. récupérer date, credit, debit, id de compte
      // 3. créer un csv
    }
  },
  mounted () {
    // fetch all movments
    this.comptes.map(compte => this.idSet.add(compte[0].id))
    Array.from(this.idSet).map(async (idAcc) => {
      const baseUrl = `${this.url}/user/${this.id}/account/${idAcc}/getMvmts`
      await axios(baseUrl, {
        method: 'get',
        cookie: this.token,
        withCredentials: true
      })
        .then(res => {
          this.movments = []
          if (res.data.length > 0) {
            this.movments.push(res.data)
            console.log(this.movments)
            // TODO
            // 1. récupérer date, credit, debit, id de compte
            // 2. créer un csv
          }
        })
        .catch(err => { this.errors = err })
    })
  }
}
</script>
<style>
  .graphic {
    border: 1px solid black;
    margin-left: 20px;
    margin-right: 20px;
  }
</style>
