<template>
  <div>
    <div>
        <h3>Ajouter un mouvement</h3>
    </div>
    <form @submit="this.checkform" @submit.prevent>
    <q-input type="text" label="Numéro de compte" v-model="accountNumber"/>
    <q-select v-model="mvmtOptions" :options="options" label="Type de mouvement" />
    <q-input type="text" v-model="labelMvmt" label="Libellé" />
    <q-input type="text" v-model="amount" label="Montant" />
    <q-input type="text" label="en date du" v-model="dateMvmt" />
    <q-input type="submit" value="Valider" />
    </form>
    <div
      v-for="error in this.errors"
      :key="error.id"
    >
    {{ error }}
    </div>
  </div>
</template>

<script>
import store from '../../store/store'
import axios from 'axios'

export default {
  name: 'AddMouvment',
  data () {
    return store
  },
  methods: {
    async checkform () {
      // fetch the idAccount
      if (this.accountNumber !== '' && this.mvmtOptions !== '' && this.labelMvmt !== '' && this.dateMvmt !== 0) {
        this.errors = []
        const baseUrl = `${this.url}/user/${this.id}/getIdAccount/`
        const accNumberValue = {
          accNumber: this.accountNumber
        }
        await axios(baseUrl, {
          method: 'put',
          data: accNumberValue,
          cookie: this.token,
          withCredentials: true
        })
          .then(res => { this.idAccount = res.data.idAccount; this.balance = res.data.balance })
          .catch(err => this.errors.push(err))
          .then(() => this.sendData())
      } else {
        this.errors = []
        if (this.accountNumber === '') {
          this.errors.push('Numéro de compte requis.')
        } if (this.mvmtOptions === '') {
          this.errors.push('option requise.')
        } if (this.labelMvmt === '') {
          this.errors.push('montant requis.')
        } if (this.dateMvmt === '') {
          this.errors.push('date d\'ajout de mouvement requise.')
        }
      }
    },
    // create a database movement
    async sendData () {
      const newMvmt = {
        idAccount: this.idAccount,
        movment: this.mvmtOptions,
        labelMvmt: this.labelMvmt,
        amount: this.amount,
        balance: this.balance,
        dateMvmt: this.dateMvmt
      }
      const baseUrl = `${this.url}/user/${this.id}/account/${this.idAccount}/addMvmt`
      await axios(baseUrl, {
        method: 'post',
        data: newMvmt,
        cookie: this.token,
        withCredentials: true
      })
        .then(() => { this.$router.push(`/user/${this.id}/dashboard`) })
        .catch(err => this.errors.push(err))
    }
  }
}
</script>
