<template>
<div>
  <h3>Ajouter un compte bancaire vierge</h3>
  <q-form
    @submit="onSubmit"
    @submit.prevent
  >
    <q-input type="text" label="Intitulé de compte" v-model="accountName" />
    <q-input type="text" label="Nom de la banque" v-model="bankName" />
    <q-input type="text" label="Numéro de compte" v-model="accountNumber" />
    <q-input
      type="submit"
      value="valider"
    />
  </q-form>
</div>
</template>
<script>
import axios from 'axios'
import store from '../../store/store'

const BASE_URL = 'http://localhost:3001'

export default {
  name: 'NewAccount',
  data () {
    return store
  },
  methods: {
    async onSubmit () {
      const newAccount = {
        accountName: this.accountName,
        bankName: this.bankName,
        accountNumber: this.accountNumber
      }
      if (this.accountName && this.bankName && this.accountNumber) {
        this.errors = []
        const baseUrl = `${BASE_URL}/user/${this.id}/account`
        await axios(baseUrl, {
          method: 'post',
          data: newAccount,
          cookie: this.token,
          withCredentials: true
        })
          .then(res => {
            this.$router.push(`/user/${this.id}/dashboard`)
          })
          .catch(err => this.errors.push(err))
      } else {
        this.errors = []
        if (this.accountName === '') {
          this.errors.push('Nom du compte requis.')
        } if (this.bankName === '') {
          this.errors.push('Nom de la banque requis.')
        } if (this.accountNumber === '') {
          this.errors.push('Numéro de compte requis.')
        }
      }
    }
  }
}
</script>
