<template>
  <q-page-container>
    <q-page>
      <q-item>
        <q-item-label class="text-h5">Ma petite application de gestion financière</q-item-label>
      </q-item>
      <div class="row">
      <Register class="col q-mr-sm"></Register>
      <Login class="col q-ml-sm"></Login>
      </div>
    </q-page>
  </q-page-container>
</template>
<script>
import Register from '../components/User/Register'
import Login from '../components/User/Login'
import { QItem, QItemLabel } from 'quasar'

export default {
  name: 'Home',
  components: {
    Register,
    Login,
    QItem,
    QItemLabel
  }
}
</script>
