<template>
  <div>
    <p class="text-h6">Utilisateur id: {{ $route.params.id }}</p>
    <Dashboard></Dashboard>
    <router-view></router-view>
  </div>
</template>
<script>
import Dashboard from '../components/Dashboard/Dashboard'
import store from '../store/store'

export default {
  name: 'User',
  data () {
    return store
  },
  components: {
    Dashboard
  }
}
</script>
