<template>
  <q-item
    clickable
  >
    <q-item-section
      v-if="icon"
      avatar
    >
      <q-icon :name="icon"/>
      <router-link :to="path">{{ title }}</router-link>
    </q-item-section>
  </q-item>
</template>

<script>
export default {
  name: 'EssentialLink',
  data () {
    return {
      //
    }
  },
  props: {
    title: {
      type: String,
      required: true
    },

    path: {
      type: String,
      default: ''
    },

    icon: {
      type: String,
      default: ''
    }
  }
}
</script>
