<template>
  <div>
    <h3>Mon dashboard</h3>
      <div v-if="this.comptes.length > 0">
        <div v-for="compte in this.comptes" :key="compte.id">
          <ul style="fontSize: 21px"><strong>{{ compte[0].bank_name }}</strong>
            <li>Intitulé du compte : {{ compte[0].acc_name }}</li>
            <li>Numéro de compte : {{ compte[0].acc_number }}</li>
            <li>Solde : {{ compte[0].balance }} €</li>
            <li>En date du : {{ compte[0].balance_at }}</li>
          </ul>
          <div class="row">
          <AccountStatPeriod class="col-3 sm-col-12">graphique entrées calculé sur une période</AccountStatPeriod>
          <AccountStatPeriod class="col-3 sm-col-12">graphique sorties calculé sur une période</AccountStatPeriod>
          <AccountStatPeriod class="col-3 sm-col-12">histogramme double calculé sur une période</AccountStatPeriod>
          </div>
      </div>
    </div>
    <div v-else style="color: red;">
      <q-item-label>{{ this.errors }}</q-item-label>
    </div>

    <router-link :to="{name: 'addMvmt'}">
      <q-btn
        color="primary"
        round
        style="font-size: 22px;"
      >+</q-btn>
    </router-link>
  </div>
</template>
<script>
import axios from 'axios'
import store from '../../store/store'
import AccountStatPeriod from '../Account/AccountStatPeriod'

export default {
  name: 'Dashboard',
  data () {
    return store
  },
  components: {
    AccountStatPeriod
  },
  async mounted () {
    const baseUrl = `${this.url}/user/${this.id}/account/`
    await axios(baseUrl, {
      method: 'get',
      cookie: this.token,
      withCredentials: true
    }
    )
      .then(res => {
        if (res.data.length > 0) {
          this.comptes.push(res.data)
        }
      })
      .catch(err => { this.errors = err })
  }
}
</script>
<style>
  li {
    font-size: 12px;
  }
</style>
