<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />
          <div class="q-px-lg q-pt-md q-xb-rd">
          <div class="text-h5">Gestion</div>
          <div class="text-subtitle2">{{ todaysDate }}</div>
        </div>
        <!-- déconnexion à créer sur le bouton-->
        <q-space />
        <q-btn round icon="power_settings_new"></q-btn>
      </q-toolbar>
    </q-header>
    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
     <q-scroll-area style="height: calc(100% - 150px); margin-top: 90px; border-right: 1px solid #ddd">
           <q-list>
        <q-item-label
          header
          class="text-grey-8"
        >
        </q-item-label>

        <q-item
            clickable
          >
            <q-item-section
              avatar
            >
              <q-icon name="home"/>
              <router-link to="/">Accueil</router-link>

              <q-icon name="dashboard"/>
              <router-link :to="`/user/${this.id}/dashboard`">Dashboard</router-link>

              <q-icon name="done"/>
              <router-link :to="`/user/${this.id}/addmvmt`">Ajouter un mouvement</router-link>

              <q-icon name="work"/>
              <router-link :to="`/user/${this.id}/newaccount`">Créer un compte</router-link>

              <q-icon name="account_circle"/>
              <router-link :to="`/user/${this.id}/profile`">Mon profil</router-link>

              <q-icon name="power_settings_new"/>
              <router-link to="/">Déconnexion</router-link>
            </q-item-section>
          </q-item>

      </q-list>
     </q-scroll-area>
        <div class="absolute-top q-ml-xl" style="height: 100px">
          <div class="absolute-bottom bg-transparent">
            <q-avatar size="56px" class="q-mb-sm">
              <img :src="this.path">
            </q-avatar>
            <div v-if="this.name">
              <div class="text-weight-bold">{{ this.name }}</div>
            </div>
            <div v-else>
              <div class="text-weight-bold">Prénom</div>
            </div>
          </div>
        </div>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { date, QIcon } from 'quasar'
import store from '../store/store'

export default {
  name: 'AuthLayout',

  components: {
    QIcon
  },
  computed: {
    todaysDate () {
      const timeStamp = Date.now()
      return date.formatDate(timeStamp, 'D MMMM YYYY')
    }
  },

  data () {
    return store
  }
}
</script>
