<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />
          <div class="q-px-lg q-pt-md q-xb-rd">
          <div class="text-h5">Gestion</div>
          <div class="text-subtitle2">{{ todaysDate }}</div>
        </div>
        <!-- déconnexion à créer sur le bouton-->
        <q-space />
        <q-btn round icon="power_settings_new"></q-btn>
      </q-toolbar>
    </q-header>
    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
      :width="100"
    >

     <q-scroll-area style="height: calc(100% - 150px); margin-top: 90px; border-right: 1px solid #ddd">
           <q-list>
        <q-item-label
          header
          class="text-grey-8"
        >
        <div class="text-weight-bold">Menu</div>
        </q-item-label>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
     </q-scroll-area>
        <div class="absolute-top q-ml-xl" style="height: 100px">
          <div class="absolute-bottom bg-transparent">
          </div>
        </div>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink'
import { date } from 'quasar'

export default {
  name: 'Layout',

  components: {
    EssentialLink
  },
  computed: {
    todaysDate () {
      const timeStamp = Date.now()
      return date.formatDate(timeStamp, 'D MMMM YYYY')
    }
  },

  data () {
    return {
      // Liens et autres infos à modifier
      leftDrawerOpen: false,
      essentialLinks: [
        {
          title: 'Accueil',
          icon: 'home',
          path: '/'
        },
        {
          title: 'Connexion',
          icon: 'code',
          path: '/login'
        },
        {
          title: 'Inscription',
          icon: 'add',
          path: '/register'
        }
      ]
    }
  }
}
</script>
